@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);

*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15px;
}

h1{
    color: white;
}

.nav_links{
    display: flex;
    gap: 10%;
    width: 200px;
}

a{
    text-decoration: none;
    color: white;
}

.nav_links li{
    list-style: none;
}

.nav_links li:hover{
    border-bottom: 2px solid white ;
}

header{
    background-color: #4B0082;
    padding: 14px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.aside_main{
    display: flex;
}

aside{
    padding: 15px 60px;
    width: 20%;
}
.aside_title{
    font-size: x-large;
    padding: 10px 0;
}
.aside_category h3{
    padding: 7px 10px;
    border: 2px solid #00008B;
}

.aside_category{
    width: 100%;
}

main{
    width: 100%;
    padding: 30px 300px 0px 30px;
}

.banner img{
    width: 100%;
    height: 350px;
}

.banner{
    margin-bottom: 100px;   
}

.container{
    display: flex;
    width: 100%;
    gap: 40px;
}

.card img{
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card_content{
    padding: 20px;
    line-height: 40px;
}

.menu-icon{
    display: none;
}

#menuToggle{
    display: none   ;
}

.container_aside{
    background-color: #9400D3;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    margin-top: 15px;
}
.cat{
    background-color: white;
}

@media screen and (max-width: 600px){
    header{
        width: 100%;
    }
    .container_aside{
        margin-top: 20px;
    }
    
    header .menu{
        display: flex;
        width: 100%;
        height: 100%;

    }
    .nav_links{
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;

        transition: height 0.3s;
    }
    
    .nav_links li{
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }


    .nav_links li:hover{
        border: none;
    }
    .nav_links li{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .menu-icon{
        display: block;
        width: 50px;
        height: inherit;
        position: fixed;
        top: 15px;
        right: 30px;
        line-height: 60px;
        z-index: 999;
        color: white;
    }

    .menu-icon i{
        font-size: 1.7em;
    }

    #menuToggle:checked ~ label i:nth-child(2){
        display: block;
    }

    #menuToggle:checked ~ label i:first-child{
        display: none;
    }

    #menuToggle:not(checked) ~ label i:nth-child(2){
        display: none;
    }

    #menuToggle:not(checked) ~ label i:first-child{
        display: block;
    }

    #menuToggle:checked ~ ul{
        height: 100%;
    }

    a{
        color: white;
    }
    .aside_main{
        display: block;
    }

    aside{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;
    }

    main{
        margin: 0;
        padding: 0;
    }

    .container{
        display: block;
    }

    .banner{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .banner img{
        height: 200px;
    }
    
}

@media screen and (max-width: 1500px) and (min-width: 600px) {
    
    .aside_main{
        display: block;
    }

    aside{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;
        margin-left: 22%;
    }

    main{
        margin: 0;
        padding: 0;
    }

    .container{
        display: flex;
        width: 100%;
        place-items: center;
        flex-direction: column;
    }

    .card{
        width: 50%;
    }

    .container_aside{
        width: 50%;
    }
    .banner{
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .banner img{
        height: 400px;
        width: 90%;
    }

}